@import '../../index.scss';
.films-page {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    justify-content: center;
}

@media (min-width: 1200px) {
    .films-page {
        max-width: 60vw;
    }
}
